@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.shadow-glow {
  box-shadow: 0 0 8px 2px #ff69b4;

}

.glowy-border {
  box-shadow: 0 0 2px #ff01f2;
}

.carousel-container {
  display: flex;
  width: auto;
  margin-top: 100vh;
  /* Start the carousel after the user scrolls down */
}

.card {
  width: 300px;
  /* Width of each card */
  height: 200px;
  /* Height of each card */
  margin-right: 20px;
  /* Space between cards */
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  /* Prevent cards from shrinking */
}

.carousel-container {
  box-sizing: border-box;
  /* Include padding and border in the element's total width */
  max-width: 100vw;
  /* Limit the width to the viewport width */
  overflow: hidden;
  /* Hide any overflow */
  /* Add any additional styling here */
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-paused:hover {
  animation-play-state: paused;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}