.gpt3__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .gpt3__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* New Style for Text */
  .gpt3__brand__text {
    flex-basis: 100%; /* Takes full width */
    text-align: center; /* Centers text horizontally */
    font-size: 24px; /* Adjust font size as needed */
    margin-top: 20px; /* Space above the text */
    /* Additional styling as needed */
  }
  